body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 140px;
    text-align: center;
    color: #f8f8f8;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/stylesheets/img/background.png) no-repeat center center;
    background-size: cover;
    background-position: 20 0;
}

.outro-header {
    text-align: center;
}

.github {
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;}

.intro-message {
    position: relative;
    margin-top: 20%;
    margin-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

/* XS */
@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .new-btn {
        width: 50%;
    }
    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.about-item {
    margin-bottom: 25px;
    height: 100px;
    width: 100px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    object-fit: cover;
    object-position: center;
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

#experience {
    font-size: 16px;
}
.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(/stylesheets/img/pcode.jpg) no-repeat center center;
    background-size: cover;
}


.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

#homefoot {
    background-color: white;
    padding-top: 18px;
    padding-bottom: 0px;
    text-align: center;
}

#additional {
    padding-top: 10px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.new-btn {
    border: 1px solid #333;
    border-radius: 6px;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 40px;
	display: inline-block;
	margin: 15px 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
}

.new-btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.new-btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 5 */
.new-btn-5 {
    color: #333;
    background-color: rgb(255, 255, 255);
    border-color: #ccc;
	height: 45px;
	min-width: 100px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* .new-btn-5:hover {
    background-color: rgba(255, 255, 255, 0.322);
    border-color: purple;
    color: white;
    transition: .5s;
} */

.new-btn-5:active {
	background: #9053a9;
	top: 2px;
}

.new-btn-5 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.new-btn-5:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.new-btn-5:active:before {
	color: #703b87;
}

/* Button 5a */
.new-btn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.new-btn-5a:before {
	left: 0;
	top: -120%; 
}
.new-btn-5a:after {
	left: 0;
	top: -33%;
}

.new-btn-5a:hover:before {
	top: -13px;
}

.icon-lin:before {
    font-family: FontAwesome;
    content: "\f0e1";
}
.icon-resume:before {
    font-family: FontAwesome;
    content: "\f15c";    
}
.icon-github:before {
    font-family: FontAwesome;
    content: "\f09b";    
}
.icon-project:before {
    font-family: FontAwesome;
    content: "\f1b2";    
}